<div class="container">
  <h1>Team Locations</h1>

  <div id="map" class="map-canvas"></div>

  <div class="matrix-wrapper" *ngIf="teams.length > 0">
	<h3>Matrix Walking Distances</h3>
	<table class="distance-table">
	  	<thead>
			<tr>
				<th>From\To</th>
				<th *ngFor="let t of teams">{{ t.name }}</th>
			</tr>
	  	</thead>
	  	<tbody>
			<tr *ngFor="let row of matrix; let i = index">
			<td class="team-label">{{ teams[i].name }}</td>
			
			<td *ngFor="let dist of row; let j = index" class="distance-cell">
				{{ formatDistance(dist) }}
			</td>
			</tr>
	  	</tbody>
	</table>
  </div>
</div>

