.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(90deg, #aaf, #fff);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.app-title {
  font-weight: 500;
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 16px;
}

button.mat-mdc-button.active-link {
  border-radius: 0 !important;
  border-bottom: 1px solid black !important;
}
