.controls-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.controls-container .new-person-button {
    margin-left: 0;
}

.controls-container .spacer {
  flex: 1;
}

.controls-container .filter-field,
.controls-container .limit-field {
  width: 150px;
  margin-right: auto;
}