<form [formGroup]="form">

    <mat-card>
        <mat-card-content class="form-container">

            <mat-form-field appearance="outline" class="w-full">

                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter name" required/>

                @if(form.get('name')?.invalid) {
                    <mat-error>Name is required</mat-error>
                }
            </mat-form-field>

        </mat-card-content>
    </mat-card>

</form>
