<mat-card class="add-person-card">
    <mat-card-title>Add Person</mat-card-title>
    <mat-card-content>
    <form (ngSubmit)="onSubmit(name)" #form="ngForm" class="form-container">
        <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input
            matInput
            [(ngModel)]="name"
            name="name"
            placeholder="Enter name"
            required
        />
        </mat-form-field>

        <button
        mat-raised-button
        color="success"
        type="submit"
        [disabled]="!form.valid"
        >
        Add Person
        </button>
    </form>
    </mat-card-content>
</mat-card>