.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.w-full {
    width: 100%;
}

.color-preview {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
  border: 1px solid black;
}
