.container { 
  padding: 2rem; 
  max-width: 900px; 
  margin: 0 auto; 
}

.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;

  h2 {
    margin: 0;
    color: #3f51b5;
    border: none; 
  }
}

table { width: 100%; margin-top: 0.5rem; }